/* Creates 0 space amongst all elements as a base and and sets a universal font family and size */
* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    line-height: 26px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    text-decoration: none;
}

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

/* The Header and Navigation Section Starts Here */

.logoandnavigation {
    display: flex;
    list-style: none;
    background-color: darkturquoise;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    box-sizing: border-box;
    height: 10vh;
    width: 100vw;
}

/* sets the position and styling of the logo */
.logo {
    font-size: 40px;
    font-weight: bolder;
    margin-right: auto;
}

.navitems {
    padding-right: 40px;
}

/* Styles the navigation's menu items */
.navitems a {
    font-weight: 500;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

/* Changes the color of the navigation's menu items when hovered */
.navitems a:hover {
    color: gold;
}

/* The Main Section Starts Here */

h2 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 25px;
    padding-bottom: 50px;
}

/* Gives margin to the section containers that need it */
.togivemargin {
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 4%;
}

/* The Back To Top Button Starts Here */

.topbutton {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 100;
}

.backtotop {
    color: black;
    background-color: gold;
    border: 1px solid rgb(80, 69, 8);
    padding: 8px 10px;
    border-radius: 25px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration:none;
    text-align: center;
    justify-content: center;
}

.backtotop:hover {
    opacity: .9;
    cursor: pointer;
}

.backtotop a:visited {
    color: #000000;
}

/* The Hero Image Section Starts Here */

#hero {
    height: 90vh;
    width: 100vw;
    background-color: aqua;
    margin: 0px;
}

/* The About Me Section Starts Here */

#about {
    min-height: 100vh;
    width: 100vw;
    background-color: blue;
    margin: 0px;
}

#about figure {
    float: right;
    margin: 10px 30px 10px 10px;
    width: min-content;
    background-color: #ffffff;
    border-radius: 5px;
    border: 5px solid #ffffff;
}

#about figure p {
    font-weight: bold;
    text-align: center;
}

/* The My Work Section Starts Here */

#work {
    min-height: 100vh;
    width: 100vw;
    background-color: green;
}

/* This Edits The Large Featured Portfolio Item */

.featuredportfolioitem {
    display: flex;
    flex: 1 0 200px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
}

#work .featuredportfolioitem figcaption {
    width: 25vw;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    border-radius: 5px 5px 0px 0px;
}

#work .featuredportfolioitem img {
    width: 25vw;
    border: 5px solid #ffffff;
    box-sizing: border-box;
    border-radius: 0px 0px 5px 5px;
}

/* This Edits The Smaller Portfolio Items */

#portitems {
    display: flex;
    flex-wrap: wrap;
}

#work .portfolioitem {
    display: flex;
    flex: 1 0 200px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
}

#work .portfolioitem figcaption {
    width: 20vw;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    border-radius: 5px 5px 0px 0px;
}

#work .portfolioitem img {
    width: 20vw;
    border: 5px solid #ffffff;
    box-sizing: border-box;
    border-radius: 0px 0px 5px 5px;
}

/* This Adds Hover Effect To The Portfolio Items */

.minimizehover {
    width: min-content;
    height: min-content;
}

.minimizehover:hover {
    opacity: .8;
    cursor: pointer;
}

/* The Get In Contact Section Starts Here */

#contact {
    min-height: 100vh;
    width: 100vw;
    background-color: orange;
}

/* The Footer Section Starts Here */

footer {
    background-color: bisque;
}

/* Screen Size Breaking Points */

@media only screen and (max-width: 992px) {

    #work .featuredportfolioitem figcaption {
        width: 80vw;
    }
    
    #work .featuredportfolioitem img {
        width: 80vw;
    }

    #work .portfolioitem figcaption {
        width: 40vw;
    }
    
    #work .portfolioitem img {
        width: 40vw;
    }
}

@media only screen and (max-width: 768px) {

    #work .featuredportfolioitem figcaption {
        width: 85vw;
    }
    
    #work .featuredportfolioitem img {
        width: 85w;
    }

    #work .portfolioitem figcaption {
        width: 70vw;
    }
    
    #work .portfolioitem img {
        width: 70vw;
    }
}

@media only screen and (max-width: 480px) {

    #work .featuredportfolioitem figcaption {
        width: 95vw;
    }
    
    #work .featuredportfolioitem img {
        width: 95vw;
    }

    #work .portfolioitem figcaption {
        width: 90vw;
    }
    
    #work .portfolioitem img {
        width: 90vw;
    }
}
