/* Creates 0 space amongst all elements as a base and and sets a universal font family and size */
* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

/* The Header and Navigation Section Starts Here */

.logoandnavigation {
    display: flex;
    list-style: none;
    background-color: darkturquoise;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    box-sizing: border-box;
    height: 10vh;
    width: 100vw;
}

/* sets the position and styling of the logo */
.logo {
    font-size: 40px;
    font-weight: bolder;
    margin-right: auto;
}

.navitems {
    padding-right: 40px;
}

/* Styles the navigation's menu items */
.navitems a {
    font-weight: 500;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

/* Changes the color of the navigation's menu items when hovered */
.navitems a:hover {
    color: gold;
}

/* The Hero Image Section Starts Here */

#hero {
    height: 90vh;
    width: 100vw;
    background-color: aqua;
    margin: 0px;
}

/* The About Me Section Starts Here */

#about {
    height: 100vh;
    width: 100vw;
    background-color: blue;
    margin: 0px;
}

#about figure {
    width: min-content;
    background-color: #ffffff;
    border-radius: 5px;
    border: 5px solid #ffffff;
}

#about figure p {
    font-weight: bold;
    text-align: center;
}

/* The My Work Section Starts Here */

#work {
    height: 100vh;
    width: 100vw;
    background-color: green;
    display: flex;
    flex-wrap: wrap;
}

#work figcaption {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    color: #000000;
    background-color: #ffffff;
    border-radius: 5px 5px 0px 0px;
}

#work .portfolioitemlarge {
    flex: 1 0 200px;
    text-align: center;
    box-sizing: border-box;
    width: min-content;
    height: min-content;
    justify-content: center;
    margin: 2%;
}

#work img {
    width: 100%;
    border: 5px solid #ffffff;
    box-sizing: border-box;
    border-radius: 0px 0px 5px 5px;
}

/* The My Resume Section Starts Here */

#resume {
    height: 100vh;
    width: 100vw;
    background-color: purple;
}

/* The Get In Contact Section Starts Here */

#contact {
    height: 100vh;
    width: 100vw;
    background-color: orange;
}

/* Screen Size Breaking Points */

/* @media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 480px) {

} */